@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');


* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    min-width: 320px;
}

.wrap {
    position: relative;
    max-width: 1020px;
    padding: 0 15px;
    margin: 0 auto;

    background:
	repeating-linear-gradient(
		to top left,
		beige 0,
		beige 2em,
		moccasin 2em,
		moccasin 4em,
		wheat 4em,
		wheat 6em
	),
	repeating-linear-gradient(
		to left,
		white 0,
		white 2em,
		wheat 2em,
		wheat 4em,
		beige 4em,
		beige 6em
	), white;

    background-blend-mode: multiply;
}

body {
    font-family: 'Nunito', "Arial", sans-serif;
    font-size: 16px;
}

.wrap img {
    height: 270px;
    width: 200px;
    margin: 20px;
    margin-right: 50px;
    float: left;
    
}

.wrap h1 {
    padding-top: 140px;

}

.contact {
    margin: 50px 0;
}

ul {
    list-style-image: url(chekbox.png);
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 23px;
}

p span {
    font-weight: bold;
}

p em {
    font-style: italic;
}

p a {
    text-decoration: none;
}